*
{
   box-sizing: border-box; 
    -webkit-box-sizing: border-box;   
}
body
{
    
    height: 3000px;
}

img
{
    
    width: 500px;
    height: 500px;
    margin: 20px auto;
   
  
    background-image:url(Images/steve_jobs.jpg);
    background-size: cover;
    display: block;

    
}
img:hover
{
      transition: all 0.3s ease-in-out;
      border-radius:50%;
      box-shadow: 5px 5px 8px 8px brown,-5px -5px 8px 8px brown;
}



.own
{
    text-align: center;
    
    width: 400px;
    height: 200px;
    margin: 100px auto;
    background-color: brown;
    border:1px solid aqua;
    padding: 10px;    
    
}


.own .scale
{
    
    width: 380px;
    height: 180px;
    background-color: aqua;
    border: 1px solid  black;
     transition: all 1s ease-out;
    
    
}

.own .scale:hover
{
 

 transform: rotateZ(60deg);
/*-webkit-transform: skew(10deg,10deg) scale(.5,.5) translateX(-400px) rotate(30deg);*/
    
 /*transform: skew(10deg,10deg) scale(.5,.5) translateX(-400px) rotate(30deg);
   */
 }
 
 .dd
 {
     overflow:scroll; 
     padding: 10px;
     width:200px;
     height:200px;
     border: 10px dotted aqua;
     margin: auto;
     resize: both;
  
 }